force-app/main/default/flows/UserResourcePreferences2_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetUserPreferences_Action</name>
        <label>GetUserPreferences Action</label>
        <locationX>320</locationX>
        <locationY>217</locationY>
        <actionName>MatchboxGetUserPreferences</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetResourcePreference_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>pResourceList</name>
            <value>
                <elementReference>Resource_GetRecords</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NumberOfResourcePreferenceDeletes_Assignment</name>
        <label>NumberOfResourcePreferenceDeletes Assignment</label>
        <locationX>797</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>NumberOfResourcePreferenceDeletes_NumberVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourcePreferenceDelete_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ResourcePreferenceDeleteIsNotEmpty_Decision</name>
        <label>ResourcePreferenceDeleteIsNotEmpty Decision</label>
        <locationX>574</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ResourcePreferenceDeleteIsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfResourcePreferenceDeletes_NumberVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResourcePreference_DeleteRecords</targetReference>
            </connector>
            <label>OutcomeIs ResourcePreferenceDeleteIsNotEmpty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ResourceCategory_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource_Collection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Resource_Category__c</object>
        <outputAssignments>
            <assignToReference>SelectedResourceCategoryRecordVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>UserResourcePreferences2 Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserResourcePreferences2 Flow</label>
    <loops>
        <name>ResourcePreferenceDelete_Loop</name>
        <label>ResourcePreferenceDelete Loop</label>
        <locationX>581</locationX>
        <locationY>232</locationY>
        <assignNextValueToReference>ResourcePreferenceIterator_RecordVar</assignNextValueToReference>
        <collectionReference>ResourcePreferenceDelete_RecordCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NumberOfResourcePreferenceDeletes_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResourcePreferenceDeleteIsNotEmpty_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ResourcePreference_CreateRecords</name>
        <label>ResourcePreference CreateRecords</label>
        <locationX>451</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ResourcePreference_UpdateRecords</targetReference>
        </connector>
        <inputReference>ResourcePreferenceInsert_RecordCollectionVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>ResourcePreference_DeleteRecords</name>
        <label>ResourcePreference_DeleteRecords</label>
        <locationX>849</locationX>
        <locationY>465</locationY>
        <inputReference>ResourcePreferenceDelete_RecordCollectionVar</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Resource_GetRecords</name>
        <label>Resource GetRecords</label>
        <locationX>174</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserPreferences_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedResourceCategoryRecordVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ResourcePreference_UpdateRecords</name>
        <label>ResourcePreference_UpdateRecords</label>
        <locationX>581</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ResourcePreferenceDelete_Loop</targetReference>
        </connector>
        <inputReference>ResourcePreferenceUpdate_RecordCollectionVar</inputReference>
    </recordUpdates>
    <screens>
        <name>SelectResourceCategory_Screen</name>
        <label>SelectResourceCategory Screen</label>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Resource_GetRecords</targetReference>
        </connector>
        <fields>
            <name>ResourceCategory_Picklist</name>
            <choiceReferences>ResourceCategory_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SetResourcePreference_Screen</name>
        <label>SetResourcePreference Screen</label>
        <locationX>320</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourcePreference_CreateRecords</targetReference>
        </connector>
        <fields>
            <name>SelectedResourceCategory_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!ResourceCategory_Picklist}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>userResourcePreferences_LWC</name>
            <extensionName>matchbox:userResourcePreferences</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>resourceList</name>
                <value>
                    <elementReference>Resource_GetRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourcePreferenceList</name>
                <value>
                    <elementReference>GetUserPreferences_Action</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ResourcePreferenceDelete_RecordCollectionVar</assignToReference>
                <name>resourcePreferenceDeleteCollection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ResourcePreferenceInsert_RecordCollectionVar</assignToReference>
                <name>resourcePreferenceInsertCollection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ResourcePreferenceUpdate_RecordCollectionVar</assignToReference>
                <name>resourcePreferenceUpdateCollection</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectResourceCategory_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfResourcePreferenceDeletes_NumberVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourcePreferenceDelete_RecordCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Preference__c</objectType>
    </variables>
    <variables>
        <name>ResourcePreferenceInsert_RecordCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Preference__c</objectType>
    </variables>
    <variables>
        <name>ResourcePreferenceIterator_RecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Preference__c</objectType>
    </variables>
    <variables>
        <name>ResourcePreferenceUpdate_RecordCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Preference__c</objectType>
    </variables>
    <variables>
        <name>SelectedResourceCategoryRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Category__c</objectType>
    </variables>
</Flow>
